<footer id="footer1" class="page-section text-center pt-100-b-80-cont gray-bg">
  <div class="container">

    <!-- Social Links -->
    <div class="footer-soc-a">
      <a href="https://1.envato.market/a1gQR" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://1.envato.market/a1gQR" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://dribbble.com/abcgomel" title="YouTube" target="_blank"><i class="fa fa-youtube"></i></a>
    </div>

  </div>
</footer>
