<div class="page-title-cont page-title-small grey-dark-bg pt-36">
  <div class="relative container align-left">
    <div class="row">
      <div class="col-md-8">
        <h1 class="page-title">{{title}}</h1>
      </div>

      <div class="col-md-4">
        <div class="breadcrumbs">
          <!-- <a href="/">Home</a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="relative container align-left page-content">
  <div class="row">
    <div class=" mt-70 mb-70 col-md-8 main text">
      <div [innerHTML]="content">
      </div>
    </div>
  </div>
</div>
